# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# Ideation and Notes
.idea/

# Test Files
.temp/

# PyPI configuration file
.pypirc

# Act Files
act*
